h1{
    text-align: center;
    color:dark;
    font-family:fantasy, 'Times New Roman', Times, serif;
    .icon{
        margin-right: 10px;
    }
}
/*.container {
    border: 1px solid lightgray;
    border-radius: 2.5px;
    width: 30%;
    position: relative;
    left: 40%;
    padding: 5px;
    margin-right: auto;
}*/