<ion-header>
    <ion-toolbar color="danger">
      <ion-buttons>
        <ion-img src="../assets/logo.png"></ion-img>
        <ion-menu-button slot="end"></ion-menu-button>
        <ion-label>Menú</ion-label>
      </ion-buttons>
      </ion-toolbar>
</ion-header>

<ion-content>

  <form class="concontra">
    <ion-row>
      <ion-col class="img-parentesis">
        <ion-icon name="mail-outline"></ion-icon>
      </ion-col>
    </ion-row>
    <p>Confirmación de nueva contraseña</p>
    <ion-item lines="full">
      <ion-label position="floating">Correo electronico</ion-label>
      <ion-input type="email" required></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button class="concontraa" type="submit" color="danger" expand="block">confirmar</ion-button>
      </ion-col>
    </ion-row>

    <small>
      Proporcione  la dirección de correo electrónico que utilizó cuando registro su usuario
    </small>
  </form>
</ion-content>