.concontra{
    width: 350px;
    border: 1px solid lightgray;
    border-radius: 2.5px solid lightgray;
    padding: 30px;
    margin: auto;
    margin-top: 7.5%;
}
.concontra {

    .img-parentesis {
        display: flex;
        ion-icon {

            font-size: 2em;
            text-align: center;
            margin: auto;

        }
    }
    
    p {
        text-align: center;
    }
}